li, .doneTask{
   
    margin: 15px auto;
    font-size:30px;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 15px;
}
 ul{
    max-width:800px;
    margin: 0 auto;
  
   
     
}

.doneTask
{
    text-decoration: line-through;
    
 
} 